.box_login {
    width: 600px;
    height: 380px;
    border: 5px solid #0099cc;
    padding: 25px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -15em; 
    margin-left: -21.5em; 
    border-radius: 50px;
}

.box_signup {
    width: 600px;
    height: 470px;
    border: 5px solid #0099cc;
    padding: 25px;
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -17em; 
    margin-left: -21.5em; 
    border-radius: 50px;
}

/*.err {
	color:red; 
	position:relative; 
	left:90px; 
	top:5px;
}*/

.index_heading {
	font-family: 'Pacifico', cursive;
   	font-size: 50px; 
   	position:relative;
    left: 30%;
}

.text_signup {
	font-size: 40px; 
	font-family: 'Coustard', serif;
	position: relative;
	left: 33%;
}

.text_edit_pass {
	font-size: 35px; 
	font-family: 'Coustard', serif;
	position: relative;
	left: 26%;
}

.index_btn {
	background-color: #ffffff;
	border: 1px solid black;
 	padding: 13px 28px 13px 28px;
   	font-size: 14px;
   	position:relative;
    left:39%;
}

.index_btn:hover {
	background: #0099cc;
	border: 1px solid #0099cc;
	color: white;
}

.index_btn1 {
	background-color: #ffffff;
	border: 1px solid black;
 	padding: 8px 28px 8px 28px;
   	font-size: 14px;
   	position:relative;
    left:39%;
}

.index_btn1:hover {
	background: #0099cc;
	border: 1px solid #0099cc;
	color: white;
}

.confirm_btn {
	background-color: #ffffff;
	border: 1px solid black;
 	padding: 8px 28px 8px 28px;
   	font-size: 14px;
   	position:relative;
    left:38%;
}

.confirm_btn:hover {
	background: #0099cc;
	border: 1px solid #0099cc;
	color: white;
}

.input_field {
	width: 400px;
	height: 11px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 8px;
   	position:relative;
    left:14%;
}

.input_field2 {
	width: 186.9px;
	height: 11px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 0;
}

.input_field3 {
	width: 130px;
	height: 11px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 8px;
}

.exit {
	float: right;
}

.btn_exit {
	width: 30px;
	background-color: #ffffff;
   	border: 1px solid #cc0000;
   	font-size: 20px;
}

.btn_exit:hover {
	background: #e60000;
	color: white;
}

/*
font-family: 'Cairo', sans-serif;
font-family: 'Bungee Inline', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Coustard', serif;
font-family: 'Pacifico', cursive;
*/