/*
font-family: 'Cairo', sans-serif;
font-family: 'Bungee Inline', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Coustard', serif;
font-family: 'Pacifico', cursive;
*/

body {
	margin: 0;
}

button:disabled, button[disabled]{
  color: black;
}

.header {
	background-color: #c3f8fd;
	width: 100%;
	height: 165px;
	margin: auto;
}

.sidebar {
	position: absolute;
	background-color: #75bdff;
	float: left;
	width: 23%;
	height: 542px;
	border: 5px solid white;
	margin: auto;
	top: 110px;
}

.main {
	/*background-color: gray;*/
	overflow: auto;
	float: right;
	width: 74.8%;
	height: 477px;
	margin: auto;
	padding: 10px;
}

.header-text {
	font-family: 'Pacifico', cursive;
   	font-size: 40px; 
   	margin-top: 0;
   	text-align: center;
}

.menu-btn {
   	background-color: #ffffff;
   	border: 1px solid black;
   	width: 160px;
   	height: 40px;
   	/*padding: 10px 28px 10px 28px;*/
   	font-size: 14px;
   	position:relative;
    left:26%;
}

.menu-btn:hover:enabled {
    background: #0099cc;
    border: 1px solid white;
    color: white;
}

.menu-btn-active {
   	background-color: #0099cc;
   	border: 1px solid #0099cc;
   	width: 160px;
   	height: 40px;
   	/*padding: 10px 28px 10px 28px;*/
   	font-size: 14px;
   	position:relative;
    left:26%;
    color: white;
}

.menu-btn-active:hover:enabled {
    background: #0099cc;
    border: 1px solid white;
    color: white;
}

.search-input {
	background-color: #ffffff;
   	border: 1px solid black;
   	width: 300px;
   	height: 36px;
	position: relative;
	left: 887px;
	top: -40px;
	padding-left: 15px;
}

.search-btn {
   	background-color: #ffffff;
   	border: 1px solid black;
   	width: 100px;
   	height: 40px;
   	position: relative;
   	left: 890px;
   	top: -40px;
   	border-radius: 20px;
}

.search-btn:hover:enabled {
    background: #0099cc;
    border: 1px solid #0099cc;
    color: white;
}

.image {
	position: relative;
	left: 50%;
}

.image_div {
	background-color: white;
	width: 140px;
	height: 140px;
	position: relative;
	left: 86px;
	top: 26px;
}

.text_name {
	font-size: 24px;
	font-family: 'Cairo', sans-serif;
	position: relative;
	top: -19px;
}

.text_username {
	font-size: 15px;
	font-family: 'Cairo', sans-serif;
	position: relative;
	top: -28px;
}

.href-post-wing-wers {
	text-decoration: none;
	color: black;
	cursor: auto;
}

.href-post-wing-wers:hover {
	cursor: pointer;
}

/*.btn-hidden {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}*/

.post-div {
	font-size: 12px;
	font-family: 'Cairo', sans-serif;
	height: 60px;
	width: 80px;
	float: left;
	position: relative;
	left: 28px;
	margin-top: -20px;
}

.label_cursor:hover {
	cursor: pointer;
}

.following-div {
	font-size: 12px;
	font-family: 'Cairo', sans-serif;
	height: 60px;
	width: 80px;
	float: left;
	position: relative;
	left:26px;
	margin-top: -20px;
}

.follower-div {
	font-size: 12px;
	font-family: 'Cairo', sans-serif;
	height: 60px;
	width: 80px;
	float: left;
	position: relative;
	left: 35px;
	margin-top: -20px;
	margin-bottom: 10px;
}

.details_div {
	margin: 0 30px 0 30px;
	font-size: 15px;
	font-family: 'Cairo', sans-serif;
	position: relative;
	left: 32px;
	top: 0;
}

.bottom-btn {
   	background-color: #ffffff;
   	border: 1px solid black;
   	width: 120px;
   	height: 30px;
   	/*padding: 10px 28px 10px 28px;*/
   	font-size: 14px;
   	position: relative;
   	left: 34px;
}

.bottom-btn:hover:enabled {
    background: #0099cc;
    border: 1px solid white;
    color: white;
}

.write_post {
	font-size: 16px;
	font-family: 'Cairo', sans-serif;
	position: relative;
	left: 20px;
}

.post_box {
	background-color: #ffffff;
   	border: 1px solid black;
   	width: 845px;
   	height: 54px;
	position: relative;
	left: 20px;
	top: -10px;
	border-radius: 5px;
	padding: 10px;
	font-family: 'Cairo', sans-serif;
	font-size: 14px;
}

.post-btn {
   	background-color: #0099cc;
   	border: 1px solid #0099cc;
   	width: 80px;
   	height: 50px;
   	/*padding: 10px 28px 10px 28px;*/
   	font-size: 14px;
   	position: relative;
   	left: 26px;
   	top: -38px;
   	color: white;
}

.post-btn:hover {
    background: #75bdff;
    border: 1px solid white;
    color: white;
}

.display-post-div {
	border-radius: 20px;
	width: 935px;
	height: 105px;
	background-color: #f1fdff;
	border: 1px solid gray;
	position: relative;
	left: 20px;
	margin-bottom: 20px;
	margin-top: -10px;
	padding: 5px 10px 5px 10px;
}

.display-post-div-image {
	height: 80px;
	width: 80px;
	position: relative;
	top: 10px;
	left: 10px;
}

.display-post-div-label {
	font-weight: bold;
	font-family: 'Cairo', sans-serif;
	font-size: 16px;
	position: relative;
	left: 115px; 
	top: -80px;
}

.display-post-div-date {
	font-weight: bold;
	font-family: 'Cairo', sans-serif;
	font-size: 14px;
	position: relative;
	top: -75px;
	float: right;
	color: gray;
	right: 20px;
}

.display-post-div-text {
	font-family: 'Cairo', sans-serif;
	font-size: 14px;
	position: relative;
	left: 115px; 
	top: -80px;
}

.display-post-div-btn {
	color: blue;
	text-decoration: none;
	font-family: 'Cairo', sans-serif;
	font-size: 14px;
	position: relative;
	left: 115px; 
	top: -85px;
}

.display-post-div-btn-right {
	color: blue;
	text-decoration: none;
	font-family: 'Cairo', sans-serif;
	font-size: 14px;
}

.like_repost_edit_delete {
	width: 300px;
}

.edit_profile {
	font-family: 'Coustard', serif;
   	font-size: 27px; 
   	position: relative;
	top: 20px;
}

.edit_labels {
   	position: relative;
	left: 20px;
	font-family: 'Cairo', sans-serif;
}

.edit_fields {
	width: 430px;
	height: 11px;
    border: 1px solid black;
    padding: 10px 20px;
    margin-top: 8px;
    position: relative;
}

.edit_save {
	background-color: #0099cc;
   	border: 1px solid #0099cc;
   	width: 200px;
   	height: 40px;
   	font-size: 14px;
   	color: white;
	position: relative;
	top: 14px;
	left: 660px;
}

.edit_save:hover {
	background: #0099cc;
    border: 1px solid white;
    color: white;
}

.edit_cancel {
	background-color: #0099cc;
   	border: 1px solid #0099cc;
   	width: 100px;
   	height: 40px;
   	font-size: 14px;
   	color: white;
	position: relative;
	top: -26px;
	left: 870px;
}

.edit_cancel:hover {
	background: #0099cc;
    border: 1px solid white;
    color: white;
}

.search_results_txt {
	font-family: 'Coustard', serif;
   	font-size: 25px; 
   	position: relative;
	top: 20px;
	left: 20px;
}

.display-search-div {
	border-radius: 20px;
	width: 360px;
	height: 120px;
	background-color: #f1fdff;
	border: 1px solid gray;
	position: relative;
	left: 20px;
	margin-bottom: 20px;
	margin-top: -10px;
	padding: 5px 10px 5px 10px;
}

.display-search-div-label {
	font-weight: bold;
	font-family: 'Cairo', sans-serif;
	font-size: 18px;
	position: relative;
	left: 60px; 
	top: -43px;
}

.display-search-div-text {
	font-family: 'Cairo', sans-serif;
	font-size: 16px;
	position: relative;
	left: 144px; 
	top: -51px;
}

.display-search-div-img {
	width: 80px;
	height: 80px;
	position: relative;
	left: 30px;
	top: 20px;
}

.display-search-div-btn {
	background-color: white;
	border: 1px solid black;
	position: relative;
	left: 145px;
	top: -40px;
}

.display-search-div-btn:hover {
	background: #0099cc;
    border: 1px solid white;
    color: white;
}


/* container */

.container-left {
	background-color: #eeeeee;
	width: 200px;
	height: 170px;
	float: left;
}

.container-center {
	background-color: #eeeeee;
	width: 575px;
	height: 170px;
	float: left;
}

.container-right {
	background-color: #eeeeee;
	width: 200px;
	height: 170px;
	float: left;
}

.display-view-div-label {
	font-weight: bold;
	font-family: 'Cairo', sans-serif;
	font-size: 25px;
	position: relative;
	top: 5px;

}

.display-view-div-text {
	font-family: 'Cairo', sans-serif;
	font-size: 18px;
	position: relative;
	top: -18px;
}

.display-view-div-img {
	width: 140px;
	height: 140px;
	position: relative;
	left: 60px;
	top: 13px;
}

.display-view-div-btn {
	background-color: white;
	border: 1px solid black;
    position: relative;
    width: 100px;
    height: 30px;
    top: 50px;
    right: 57px;
}

.display-view-div-btn:hover {
	background: #0099cc;
    border: 1px solid white;
    color: white;
}

.posts-view-div {
	font-size: 12px;
	font-family: 'Cairo', sans-serif;
	height: 60px;
	width: 80px;
	float: left;
	position: relative;
	left: 153px;
	margin-top: -30px;
}

.following-view-div {
	font-size: 12px;
	font-family: 'Cairo', sans-serif;
	height: 60px;
	width: 80px;
	float: left;
	position: relative;
	left: 166px;
	margin-top: -30px;
}

.follower-view-div {
	font-size: 12px;
	font-family: 'Cairo', sans-serif;
	height: 60px;
	width: 80px;
	float: left;
	position: relative;
	left: 191px;
	margin-top: -30px;
}

.view-right {
	font-size: 14px;
	font-family: arial;
	position: relative;
	top: 30px;
	right: 60px;
}

/*end of container */


.text_header {
	font-family: 'Coustard', serif;
   	font-size: 25px; 
   	position: relative;
	top: 20px;
	left: 20px;
}

.display-view-post-div {
	border-radius: 20px;
	width: 935px;
	height: 105px;
	background-color: #f1fdff;
	border: 1px solid gray;
	position: relative;
	left: 10px;
	margin-top: 3px;
	margin-bottom: 20px;
	padding: 5px 10px 5px 10px;
}

.text_header_notif {
	font-family: 'Coustard', serif;
   	font-size: 16px; 
   	position: relative;
	top: 20px;
	left: 20px;
	text-decoration: none;
	color: black;
}

.text_header_notif_active {
	font-family: 'Coustard', serif;
   	font-size: 18px; 
   	position: relative;
	top: 20px;
	left: 20px;
	text-decoration: none;
	color: blue;
}

.text_header_notif:hover {
	color: blue;
}

.edit_save_post {
	background-color: #0099cc;
   	border: 1px solid #0099cc;
   	width: 200px;
   	height: 40px;
   	font-size: 14px;
   	color: white;
	position: relative;
	top: 14px;
	left: 580px;
}

.edit_save_post:hover {
	background: #0099cc;
    border: 1px solid white;
    color: white;
}

.edit_cancel_post {
	background-color: #0099cc;
   	border: 1px solid #0099cc;
   	width: 100px;
   	height: 40px;
   	font-size: 14px;
   	color: white;
	position: relative;
	top: -26px;
	left: 786px;
}

.edit_cancel_post:hover {
	background: #0099cc;
    border: 1px solid white;
    color: white;
}

.display-follow-notif-div-btn {
	background-color: white;
	border: 1px solid black;
	position: relative;
	left: 20px;
	top: 20px;
}

.display-notif-div-date {
	font-weight: bold;
	font-family: 'Cairo', sans-serif;
	font-size: 14px;
	position: relative;
	top: 5px;
	float: right;
	color: gray;
	right: 40px;
}

.display-notif-div-text {
	font-family: 'Cairo', sans-serif;
	font-size: 14px;
	position: relative;
	left: 20px; 
	top: 10px;
}

.display-follow-notif-div-btn:hover {
	background: #0099cc;
    border: 1px solid white;
    color: white;
}

.like-btn-click {
	background-color: white;
	border: 1px solid black;
	width: 70px;
}

.like-btn-click:hover {
	background: #0099cc;
    border: 1px solid white;
    color: white;
}



/* MODAL */

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 120px;
    font-family: arial;
}

.modal-btn-delete {
	border: 1px solid #0099cc;
	background-color: #0099cc;
	color: white;
	width: 70px;
}

.modal-btn-cancel {
	border: 1px solid black;
	background-color: white;
	width: 70px;
}

.modal-btn-delete:hover,
.modal-btn-delete:focus {
	border: 1px solid white;
}

.modal-btn-cancel:hover,
.modal-btn-cancel:focus {
	border: 1px solid #0099cc;
}


/* SCROLLER */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}